<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ title }}</title>
		{% load static %}
		<!-- latest bootstrap css -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<!-- local/static stylesheets -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<header class="container-fluid mb-2 p-3 bg-info">
			<div class="row justify-content-between">
				<div class="col-auto">
					<!-- <h1 class="mb-2 pb-2 h4 text-center"><a href="/" class="text-reset text-decoration-none">{{ title }}</a></h1> -->
					<h1 class="text-light">Welcome {{user.first_name}}!</h1>
				</div>
				<div class="col-auto">
					<a class="mx-1 px-1 link-secondary" href="/user/logout">Log Out</a>
				</div>
			</div>
		</header>
		<main class="container-fluid">
			<div class="row">
				<div class="col-5 p-4 bg-light">
					<div class="mx-2 mb-3">
						{% if messages %}
							{% for message in messages %}
							<div class="mb-1 py-1 fs-6 alert {% if message.tags %}{{message.tags}}{% else %}alert-info{% endif %}">{{ message }}</div>
							{% endfor %}
						{% endif %}
					</div>
					<h3 class="mx-3 my-3 display-6">Add a Favorite Book</h3>
					<div class="mx-3">
						<form action="/user/addbook" method="POST">
							{% csrf_token %}
							<div class="row mb-3">
								<label for="titleInput" class="col form-label">Title: </label>
								<input type="text" class="col form-control form-control-sm" name="title" id="titleInput" placeholder="The Hitchhiker's Guide to the Coding Dojo" {% if repopnew.title %}value="{{ repopnew.title }}"{% endif %}>
							</div>
							<div class="row mb-3">
								<label for="descriptionInput" class="col form-label">Description: </label>
								<textarea class="col form-control form-control-sm" name="description" id="descriptionInput" cols="15" rows="10">{% if repopnew.description %}{{ repopnew.description }}{% endif %}</textarea>
							</div>
							<div class="row button-group justify-content-center">
								<button type="submit" class="col-4 mx-3 px-3 py-2 btn btn-primary">Add</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-7 p-4">
					<h3 class="mx-3 my-3 display-6">All Books</h3>
					{% for book in books %}
					<div class="mx-3 mb-3">
						<p class="lead">
							<a class="link-success" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
						</p>
						<p class="lead">
							(added by {{ book.uploaded_by.full_name }})
						</p>
						<p class="lead">
							{% if book in user.liked_books.all %}
							<span class="fst-italic">this is one of your favorites</span>
							{% else %}
							<a href="/user/addtofavorites/{{ book.id }}">Add to Favorites</a>
							{% endif %}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</main>
		<!-- latest bootstrap js bundle -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<!-- latest jquery core -->
		<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
		<!-- local/static scripts -->
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>